aiohappyeyeballs
aiohttp --only-binary=:all:
aiosignal
annotated-types
anyio
arrow
asttokens
async-lru
asyncio
attrs
Babel
bleach
blinker
build
certifi
charset-normalizer
click
colorama
comm
decorator
defusedxml
executing
fastapi
fastjsonschema
flask[async]
Flask-Login
Flask-Mail
flask
fqdn
frozenlist
httpcore
httpx
idna
ipykernel
ipython
isoduration
itsdangerous
jedi
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
mpmath
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pip-tools
platformdirs
prometheus_client
prompt_toolkit
propcache
psutil
pure-eval
pycparser
pydantic
pydantic_core
Pygments
pyproject_hooks
python-dotenv
python-json-logger
python-multipart
pytz
redis
openpyxl
dataclasses
typing